* {
	font-family:Arial;
	border-radius: 20px;
}
h1 {
	text-transform: uppercase;
}
.Sign_in {
	text-align: center;
	padding: inherit;
	margin-left: 400px;
	margin-right: 420px;
	background-image: url("../image/Sign.gif");
	color: white;
	display: none;
}
img {
	padding: 5px;
	height: 150px;
	width: 150px;
}
li {
	display: inline;
	margin-right: 10px;
}
/*body {
	background-image: url("../image/background2.gif");
	background-size: 100%;
}*/
.product {
}
table {
	border: 1px solid #665544;
}
td {
	border: 1px solid #665544;
}
.com {
	width: 200px;
	height: 100px;
	background-color: rgb(186, 162, 162);
}
.prod {
	background-color: rgb(186, 162, 162);
}
.user-name {
	list-style-image: url("../image/star.png");
	margin: 10px 0px 0px 0px;
}
.mini {

}