* {
	font-family: 'trebuchet ms'; /* Шрифт */
	font-style: normal; /* стилизация шрифта */
	text-transform: uppercase; /* трансформация букв в тексте */
	letter-spacing: 0.05em; /*межбуквенное расстояние в тексте*/
}
.top_line {
	display: inline;
}
.top {
	position: static; /* Обьект статичен и не может быть перемещен */
	top: 0; /* определяет вертикальную позицию */
}
table {
	border: 1px solid #665544; /* свойства границ */
	border-radius: 20px /* скругление углов блока */
}
td {
	border: 1px solid #665544; /* свойства границ */
	padding: 10px; /* внутренние отступы/поля */
	border-radius: 20px /* скругление углов блока */
}
.image{
	border-radius: 20px; /* скругление углов блока */
}
.home_image {
	margin-right: 35%; /* внешний отступ справа от элемента */
	display: inline;
}
.down_str {
    text-align: right; /* Выравнивание по правому краю */ 
}
.text_one {
	position: relative; /**/
	bottom: 30px; /* отступ снизу */
}
.text_two {
	position: relative; /**/
	right: 150px; /* отступ справа */
	color: gray;
}
/* Оформление панели */
#side-checkbox {
    display: none; /* отображение отключено */
}
.side-panel {
    position: fixed; /* фиксированная позиция */
    z-index: 999999; /* Позиционирование по оси z(объект поверх других объектов или нет) */
    top: 0; /* определяет вертикальную позицию */
    left: -360px; /* Отступ с левой стороны */
    background: gray; /* задний фон */
    transition: all 0.5s; /* переходное состояние между двумя состояниями элемента */
    width: 320px; /* ширина */
    height: 100vh; /* высота */
    padding: 40px 20px; /* внутренние отступы/поля */
}
.side-title {
}
/* Оформление кнопки на странице */
.side-button-1-wr {
    text-align: center; /* Контейнер для кнопки, чтобы было удобнее ее разместить */
}
.side-button-1 {
    display: inline-block; /* отображение на одной строке блочно */
}
.side-button-1 .side-b {
    text-decoration: none; /* декорации к тексту*/
    position: relative; /**/
}
.side-button-1 .side-b:after, /**/
.side-button-1 .side-b:before /**/ {
    position: absolute; /**/
}
.side-button-1 .side-open:after, /**/
.side-button-1 .side-open:before /**/ {
    background: green; /* задний фон */
}
.side-button-1 .side-close:after, /**/
.side-button-1 .side-close:before /**/ {
    background: red; /* задний фон */
}
.side-button-1 .side-b:before /**/ {
    top: -6px; /* отступ сверху*/
}
.side-button-1 .side-b:hover:after, /**/
.side-button-1 .side-b:hover:before /**/ {
    width: 100%; /* ширина */
    left: 0; /* отступ слева*/
}
/* Переключатели кнопки 1 */
.side-button-1 .side-close {
    display: none; /* отображение объекта(не отображается) */
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open{
    display: none; /* отображение объекта(не отображается) */
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close{
    display: block; /**/
}
#side-checkbox:checked + .side-panel  /**/{
    left: 0; /* отступ слева */
}
/* Оформление кнопки на панеле */
.side-button-2 {
    font-size: 30px; /* размер шрифта */
    border-radius: 20px; /* радиус бортика*/
    position: absolute; /**/
    z-index: 1; /* Позиционирование по оси z(объект поверх других объектов или нет) */
    top: 8px; /* отступ сверху */
    right: 8px; /* отсутп справа*/
    transform: rotate(45deg); /* переходное состояние между двумя состояниями элемента */
    transition: all 280ms ease-in-out; /* переходное состояние между двумя состояниями элемента */
}
.side-button-2:hover /**/{
    transform: rotate(45deg) scale(1.1); /* переходное состояние между двумя состояниями элемента */   
}
.menu_2 {
	display: inline; /* Элементы располагаются на той же строке */
	left: 10px;
}
.sidenav {
	display: ;
	height: 100%;
	width: 5%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
}
.main {
  	margin-left: 5%; /* Совпадает с шириной боковой навигации */
}
@media screen and (max-height: 450px) {
  	.sidenav {padding-top: 15px;}
  	.sidenav a {font-size: 18px;}
}
